.vscode
package-lock.json
node_modules

src/cat/*
!src/cat/src
!src/cat/pom.xml

src/assets/**/*.mtl
src/assets/**/*.obj
src/assets/texture/*.jpg
src/assets/texture/*.png
src/assets/**/*.mp3
src/assets/*.db
src/cat.jar

lib/*
!lib/README
/nbproject/private/
