.vscode
package-lock.json
node_modules

src/cat/*
!src/cat/src
!src/cat/pom.xml

src/assets/model/*.mtl
src/assets/model/*.obj
src/assets/texture/*.jpg
src/assets/texture/*.png
src/assets/sound/*.mp3
src/assets/*.db

lib/*
!lib/README